#snapuser {
  font-family: sans-serif;
  width: 300px;
  margin: auto;
  background: rgb(234, 234, 234);
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  &.login {
    padding: 20px;
    div {
      padding: 5px 0;
    }
    input {
      padding: 10px;
      width: 100%;
      font-size: 16px;
      border: 0;
      border-bottom: 1px solid rgb(182, 182, 182);
      &[type=submit] {
        border: 1px solid rgb(216, 216, 216);
        border-radius: 2px;
        color: rgb(56, 66, 74);
        background: #f7f7f7; /* Old browsers */
        background: -moz-linear-gradient(top,  #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f7f7f7 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f7f7f7 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f7f7f7 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
      }
    }
    label {
      color: #fff;
    }
  }
}
